<h2 class="mid-page-title">Sign Up For My Newsletter!</h2>
<p class="welcome-p">I only send Emails when I release a Book or launch a Product.</p>
<p class="welcome-p">I hate marketing and useless emails, too.</p>

<form action="/newsletter" method="post">
    <input type="text" name="firstName" class="form-input form-input-first" placeholder="First Name" required autocomplete="on"/>
    <input type="text" name="lastName" class="form-input" placeholder="Last Name" required autocomplete="on"/>
    <input type="email" name="email" class="form-input form-input-last" placeholder="Email Address" required autocomplete="on"/>
    <button type="submit" class="submit-button">Sign Up</button>
</form>