<footer>
    <div class="footer-containers">
        <div class="about-website">
            <h3 class="about-website-title">ABOUT THE WEBSITE</h3>
            <p class="about-website-p">Welcome to my website! I use this forum to showcase quality art, illustrated
                novels
                and my other projects. Please enjoy!</p>
        </div>

        <div class="term-of-use">
            <h3 class="term-of-use-title">TERMS OF USE</h3>
            <a class="term-of-use-link" href="/terms-of-service">Terms of Service</a>
            <a class="term-of-use-link" href="/privacy-policy">Privacy Policy</a>
        </div>

    </div>

    <p class="copyright">Copyright &copy; 2023 Ali Abbas Abdulkareem Alassafi. All Rights Reserved.</p>
</footer>