<p class="welcome-p">At <a href="aliassafiart.com">aliassafiart</a>, we are committed to protecting the privacy of our
    users. This privacy
    policy explains how we collect, use, and disclose personal information about our users.</p>

<div class="privacy">
    <p><strong>Information We Collect</strong></p>
    <p>We collect personal information from our users in various ways, including when you place an order, post a review
        or
        comment, or contact us. The types of personal information we may collect include:</p>

    <ul>
        <li>Name (optional)</li>
        <li>Email address (optional)</li>
        <li>Shipping address</li>
        <li>Billing address</li>
        <li>Payment information</li>
        <li>Order history</li>
        <li>Reviews and comments</li>
    </ul>

    <p>We may also collect information anonymously to measure our performance. The types of information we may collect include:</p>

    <ul>
        <li>The number of times a product has been purchased.</li>
        <li>The number of times a free sample has been downloaded.</li>
        <li>We also use Google Analytics for measuring performance. Check Google's Policies <a target="_blank" href="https://policies.google.com/">here</a></li>
    </ul>

    <p><strong>How We Use Your Information</strong></p>
    <p>We may use your personal information for the following purposes:</p>
    <ul>
        <li>To process and fulfill your orders</li>
        <li>To provide customer support</li>
        <li>To communicate with you about your orders or inquiries</li>
        <li>To personalize your experience on our website</li>
        <li>To improve our website and services</li>
        <li>To send you marketing communications that we think may be of interest to you</li>

    </ul>
    <p><strong>Disclosure of Your Information</strong></p>
    <p>We may disclose your personal information to the following third parties:</p>
    <ul>
        <li>Service providers that perform services on our behalf, such as payment processing, shipping, and marketing
        </li>
        <li>Law enforcement or other government authorities as required by law or to protect our legal rights</li>
        <li>Other third parties with your consent</li>

    </ul>
    <p>We do not sell or rent your personal information to third parties.</p>
    <p><strong>Storage of Your Information</strong></p>
    <p>We store your personal information for as long as necessary to fulfill the purposes for which it was collected,
        unless a longer retention period is required or permitted by law.</p>
    <p>We store user data regarding reviews and comments on our website. This data includes the user&#39;s name (if
        provided), email address (if provided), the content of the review or comment, and the date it was posted. This
        data
        is stored for the purpose of displaying reviews and comments on our website and improving our services. We may
        use
        this data to contact users regarding their reviews or comments.</p>
    <p><strong>Security of Your Information</strong></p>
    <p>We take reasonable measures to protect the personal information of our users from unauthorized access,
        disclosure, or
        destruction. However, no security system is completely foolproof, and we cannot guarantee the security of your
        personal information.</p>
    <p><strong>Your Choices</strong></p>
    <p>You can contact us to access, update, or delete your personal information. You can also opt out of receiving
        marketing communications from us by following the instructions in the communications.</p>
    <p><strong>Changes to This Privacy Policy</strong></p>
    <p>We may update this privacy policy from time to time. The updated privacy policy will be posted on our website and
        will be effective immediately upon posting.</p>
    <p><strong>Contact Us</strong></p>

    <p>If you have any questions or concerns about this privacy policy, please contact us from <a
            href='/contact'>Contact Page</a>.</p>
</div>