<hr>

        <div class="follow-support">

            <h2 class="mid-page-title">Follow & Support</h2>

            <div class="social-icons">
                <a class="social-link" href="https://www.facebook.com/OfficialAliAssafiArt" target="_blank"><i
                        class="social-icon fa-brands fa-square-facebook fa-2x"></i></a>
                <a class="social-link" href="https://www.instagram.com/aliassafiart/" target="_blank"><i
                        class="social-icon fa-brands fa-instagram fa-2x"></i></a>
                <a class="social-link" href="https://twitter.com/aliassafiart" target="_blank"><i
                        class="social-icon fa-brands fa-twitter fa-2x"></i></a>
                <a class="social-link" href="https://www.tiktok.com/@aliassafiart" target="_blank"><i
                        class="social-icon fa-brands fa-tiktok fa-2x"></i></a>
                <a class="social-link" href="https://www.patreon.com/aliassafiart" target="_blank"><i
                        class="social-icon fa-brands fa-patreon fa-2x"></i></a>
            </div>

        </div>