<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RD36BDP03S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-RD36BDP03S');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content="index, follow">
    <meta name="description" content="Explore the awesome art, illustrated books and more from ALI ALASSAFI">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <script src="https://kit.fontawesome.com/89820edd01.js" crossorigin="anonymous"></script>

    <title>Contact Us</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <h2 class="welcome">Contact Us</h2>
            <h3 class="text-center">Don't hesitate to contact me with any questions or feedback.</h3>
            <div class="contact">
                <h4>Rules:</h4>
                <li class="note">Please Don't Contact To Promote Serivces or Products! Your Emails Will Either Be
                    Ignored Or You Will Be Blacklisted.</li>
                <li class="note">Please Respect Privacy And Don't Ask Personal Questions.</li>
            </div>


            <form action="/contact/support" method="post">
                <h4 class="contact-input-title">Contact</h4>
                <input type="text" name="firstName" class="form-input form-input-first" placeholder="First Name" required autocomplete="on"/>
                <input type="text" name="lastName" class="form-input" placeholder="Last Name" required autocomplete="on"/>
                <input type="email" name="email" class="form-input form-input-last" placeholder="Email Address" required autocomplete="on"/>
                <h4 class="contact-input-title">Message</h4>
                <input type="text" name="subject" class="form-input form-input-first" placeholder="Subject" required autocomplete="on"/>
                <textarea class="form-input form-input-last" name="message" id="contact-textarea" cols="30" rows="10" placeholder="e. g. something wrong with website." required></textarea>
                <button type="submit" class="submit-button">Send</button>
            </form>

        </main>
</body>
<%- include('partials/footer.ejs') %>

</html>