<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content="noindex, nofollow">
    <meta name="description" content="Unsubscribe from newsletter.">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Unsubscribe</title>
</head>
<body>
    <h2 class="mid-page-title">Unsubscribe From Newsletter</h2>
<p class="welcome-p">I hate marketing and useless emails, too.</p>

<form action="/newsletter/unsubscribe/imsureiwanttosubscribe" method="post">
    <input type="email" name="email" class="form-input-normal" placeholder="Email Address" required autocomplete="on"/>
    <button type="submit" class="submit-button">Unsubscribe</button>
</form>
</body>
</html>