<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content="index, follow">
    <meta name="description" content="Terms of Service of ALI ALASSAFI for browsing the website.">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <script src="https://kit.fontawesome.com/89820edd01.js" crossorigin="anonymous"></script>
    <title>Privacy Policy</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <h2 class="welcome">Privacy Policy</h2>

            <%- include('partials/privacy.ejs') %>
        </main>
</body>
<%- include('partials/footer.ejs') %>

</html>